/* @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ce93d8;
}

h1 {
  font-family: "Pixelify Sans", "Times New Roman";
  margin-bottom: 30px;
  font-size: 80px;
}

.root {
  min-width: 50vw;
  max-width: 60vw;
  min-height: 20vh;
  background-color: #7b1fa2;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
}

.listRoot {
  min-width: 50vw;
  max-width: 60vw;
  height: 10vh;
  background-color: #130f40;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 30px;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.btn {
  margin: auto !important;
  background: #ea80fc !important;
  box-shadow: 0px 3px 5px -3px #ea80fc, 0px 6px 10px -3px #ea80fc,
    0px 1px 37px -2px #ea80fc !important;
  margin-bottom: 20px !important;
}

.btn:hover {
  background: #e040fb !important;
}

.appBtn {
  background: #130f40 !important;
  color: #fff;
  box-shadow: 0px 3px 5px -3px #ea80fc, 0px 6px 10px -3px #ea80fc,
    0px 1px 37px -2px #ea80fc !important;
  margin: auto 2vw !important;
}

.appBtn:hover {
  background: #7b1fa2 !important;
}

.chips {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  h1 {
    font-family: "Pixelify Sans", "Times New Roman";
    margin-bottom: 30px;
    font-size: 150px;
    position: absolute;
    top: 200px;
  }

  .root {
    max-width: 80vw;
  }

  .listRoot {
    height: 3vh;
    width: 80vw;
  }

  h2 {
    margin-bottom: 60px;
  }
}
