body {
  background-color: #ce93d8;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  margin: auto !important;
  background: #ea80fc !important;
  box-shadow: 0px 3px 5px -3px #ea80fc, 0px 6px 10px -3px #ea80fc,
    0px 1px 37px -2px #ea80fc !important;
  margin-bottom: 20px !important;
}

.btn:hover {
  background: #e040fb !important;
}

.chips {
  display: flex;
  justify-content: space-between;
}
